body{
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.efhSS2dIYLPYUfvYym23_gHaEo?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}