.playPage{
    display: flex;
    flex-direction: column;
   
}

.submitBtn{
    background-color: orange;
    width: 30%;
    height: 5vh;
    border-radius: 15px;
}

.actualRiddle{
    display: flex;
    margin-bottom: 15%;
}